/* card style for body */
.cardStyle {
  margin: 0px 0px 10px 0px;
  padding: 30px 10px 10px 10px;
}
/* end */

/* grid style to divide body into 3 columns */
.gridStyle {
  margin: 0px 10px 50px 10px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 350px 350px 350px;
  grid-template-columns:  350px 350px auto;
}

.gridItemStyle {
  margin: auto;
  display: flex;
  justify-content: center;
}

.gridItemStyle:nth-child(1) {
  -ms-grid-column: 1;
}

.gridItemStyle:nth-child(2) {
  -ms-grid-column: 2;
}

.gridItemStyle:nth-child(3) {
  -ms-grid-column: 3;
}
/* end */

/* button style for icons in body */
.buttonStyle {
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
  font: normal 13px Arial, Helvetica, sans-serif;
}

.buttonStyle:hover {
  background-color: rgb(148, 207, 255);
}

.captionStyle {
  font-weight: bold;
  display: block;
}
/* end */

/* Link Style for Fleets & Assets */
.aStyle {
  font-family: Arial, Helvetica, sans-serif;
}
/* End */
