/* used for header */
.cardStyle {
  /* border: 1px solid #A0A0A0;
  border-radius:5px; */
  padding: 0 10px 0 10px;
}
/* End */

/* used for users links */
.linkStyle {
  background: none;
  border: none;
  color: #337ab7;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
}

.linkStyle:hover,
.linkStyle:focus {
  color: #23527c;
  text-decoration: underline;
}
/* End */

/* used for buttons that should look like links */
.buttonLinkStyle {
  background: none;
  border: none;
  color: #337ab7;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  font: inherit;
}

.buttonLinkStyle:hover,
.buttonLinkStyle:focus {
  color: #23527c;
  text-decoration: underline;
}
/* End */

/* grid used to divide header into 2 columns */
.gridStyle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 465px 500px 135px; /* total 1100 */
  grid-template-columns: 465px 500px auto;
}

.gridItemStyle {
  // border: 1px solid red;
}

.gridItemStyle:nth-child(1) {
  -ms-grid-column: 1;
}

.gridItemStyle:nth-child(2) {
  -ms-grid-column: 2;
}

.gridItemStyle:nth-child(3) {
  -ms-grid-column: 3;
}
/* End */

/* Vertical Line */
.verLine {
  margin-right: 5px;
  border-left: 1px solid #a0a0a0;
  height: 30px;
}
/* End */

/* style for footer */
.footerStyle {
  margin: 0 auto 0 auto;
  width: 1070px;
  padding: 0 26px 0 0;
}
/* End */

/* button style for icons in body */
.buttonStyle {
  text-align: center;
  cursor: pointer;
  border-radius: 8px;
}

.buttonStyle:hover {
  background-color: rgb(148, 207, 255);
}

.captionStyle {
  font-weight: bold;
  display: block;
}
/* end */

/* header style */
.headerStyle {
  font: 12px Arial, Helvetica, sans-serif;
}
/* end */
