.cardStyle {
  margin: 4px 0px 10px 0px;
  border: 1px solid #A0A0A0;
  border-radius:5px;
  padding: 0px 0px 0px 10px;
}

.boxStyle {
  float: left;
  width: 10px;
  height: 10px;
  border-radius: 2px;
  margin: 2px 2px 0 14px;
}
