.buttonLinkStyle {
  background: none;
  border: none;
  color: #337ab7;
  cursor: pointer;
  padding: 0px;
  margin: 0px;
  height: 19px;
 }

 .buttonLinkStyle:hover,
 .buttonLinkStyle:focus {
   color: #23527c;
   text-decoration: underline;
 }

 .cardStyle {
   margin: 0px 0px 10px 0px;
   border: 1px solid #A0A0A0;
   border-radius:5px;
   padding: 5px;
 }

 /* .cardStyle {
   margin: 0px 0px 10px 0px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
   border: 1px solid #A0A0A0;
   border-radius:5px;
   transition: 0.3s;
   padding: 10px;
   background-color: #ffffff;
 } */

/* grid (5x1) for header */
 .gridStyle {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: 240px 320px 160px 170px 160px; /* total = 1050 */
   grid-template-columns: 240px 320px 160px 170px auto;
 }

.gridItemStyle {
  /* #border: 1px solid red;
  margin: auto; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.gridItemStyle:nth-child(1) { -ms-grid-column: 1; }
.gridItemStyle:nth-child(2) { -ms-grid-column: 2; }
.gridItemStyle:nth-child(3) { -ms-grid-column: 3; }
.gridItemStyle:nth-child(4) { -ms-grid-column: 4; }
.gridItemStyle:nth-child(5) { -ms-grid-column: 5; }
/* end */

.buttonStyle {
   cursor: pointer;
   border-radius: 8px;
 }

 .buttonStyle:hover {
   background-color: rgb(148, 207, 255);
 }

 /* style for select */
 .selectStyle {
   padding: 1px 35px 1px 5px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   cursor: pointer;
   background-repeat: no-repeat;
   border: 1px solid #00AEEF;
   border-radius: 3px;
   background-position: right;
 }

.selectStyle::-ms-expand {
  display: none;
}
 .selectStyle:focus {
   outline: 0;
 }

 .selectStyle:-moz-focusring {
   color: transparent;
   text-shadow: 0 0 0 #000;
 }

 .selectContainer {
   /* display: inline-block;
   float: right; */
   text-align: center;
 }

 .selectLableStyle {
    margin: auto 5px auto 0px;
 }
 /* end */
