/* .cardStyle {
  margin: 0px 0px 10px 0px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  border: 1px solid #A0A0A0;
  border-radius:5px;
  transition: 0.3s;
  padding: 10px;
  background-color: #ffffff;
} */

.cardStyle {
  margin: 0px 0px 10px 0px;
  border: 1px solid #A0A0A0;
  border-radius:5px;
  padding: 10px;
}

.tableStyle {
  border-collapse: collapse;
  width: 100%;
}

.theadStyle {
  display: block;
  width: 100%;
  padding-right: 16.5px;
  overflow: auto;
  background: rgba(250, 250, 250, 0.57);
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.thStyle {
  text-align: left;
  cursor: pointer;
  text-decoration-line: underline;
  vertical-align: bottom;
  padding: 2px;
  height: 25px;
}

.tdStyle {
  text-align: left;
  vertical-align: top;
  padding: 2px;
  height: 25px;
}

.tdNumberStyle {
  text-align: right;
  vertical-align: top;
  padding: 2px 20px 2px 2px;
  height: 25px;
}

.trStyle {
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  border-collapse: collapse;
}

.trStyle:hover {
  background-color: #ffa;
}

.buttonLinkStyle {
  background: none;
  border: none;
  color: #337ab7;
  padding: 0px;
  margin: 0px;
  cursor: pointer;
  outline: none;
 }

 .buttonLinkStyle:hover,
 .buttonLinkStyle:focus {
   color: #23527c;
   text-decoration: underline;
   border: none;
 }


.selectedRowStyle {
  border-bottom: 1px solid #EAEAEA;
  border-top: 1px solid #EAEAEA;
  border-collapse: collapse;
  background-color: #8fddff;
 }
