.cardStyle {
  margin: 0px 0px 10px 0px;
  border: 1px solid #A0A0A0;
  border-radius: 5px;
  padding: 10px;
  height: 118px;
}

/* style for infobox row */
.infoBoxRow:hover {
  background-color: #ffa;
}
/* end */

.gridStyle {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 110px 880px 60px;
  grid-template-columns:  110px auto 60px;
}

.gridItemStyle {
  //border: 1px solid red;
  line-height: 2;
}

.gridItemStyle:nth-child(1) {
  -ms-grid-column: 1;
  border-right: 1px solid #000000;
  text-align: right;
  font-weight: bold;
}

.gridItemStyle:nth-child(2) {
  -ms-grid-column: 2;
  margin-left: 10px;
}

.gridItemStyle:nth-child(3) {
  -ms-grid-column: 3;
}

.tableLableStyle {
  border-radius: 3px;
  background-color: #000000;
  color: #ffffff;
  width: 260px;
  font-size: 13px;
  padding: 1px 10px 1px 10px;
}
